################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContaVida.MVC/ContaVida.MVC.Server/appsettings.uat.json
/ContaVida.MVC/ContaVida.MVC.Server/appsettings.prod.json
