.action-icon {
  cursor: pointer;
  font-size: 1.1rem;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

  .action-icon:hover {
    opacity: 1;
    transform: scale(1.2);
  }

input[type="checkbox"] {
  cursor: pointer;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.spinner-wrapper {
  height: 70vh;
  animation: fadeIn .4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
