<div class="container welcome-wrapper">
  <!-- Welcome header card -->
  <div class="welcome-card mx-auto w-100">
    <div class="welcome-logo">
      <form-logo></form-logo>
    </div>
    <div class="welcome-text">
      Bienvenido {{username}} 👋
      <br>
      a tu app <span class="text-success">ContaVida</span>
    </div>
  </div>

  <!-- Statistics card -->
  <div class="d-flex justify-content-center mt-5">
    <div class="stats-card">
      <h5 class="text-center">Tus números</h5>
      <!-- Counters -->
      <a   [routerLink]="['/counter/list']" class="text-decoration-none">
      <div class="stats-row mb-3">
        <div class="stats-box events-box">
          {{countersResume.eventsCount.toString().padStart(3, "0")}}
        </div>
        <p class="stats-label">Contadores</p>
      </div>
      </a>
      <!-- Relapses -->
      <div class="stats-row">

        <div class="stats-box relapse-box">
          {{countersResume.relapsesCount.toString().padStart(3, "0")}}
        </div>
        <p class="stats-label">Recaídas</p>
      </div>
    </div>
  </div>
</div>
