
<div class="settings-wrapper container">

  <div class="settings-card">

    <div class="settings-title">
      <i class="fa fa-cog"></i>
      Ajustes
    </div>

    <div class="settings-list">

      <!-- Images -->
      <div class="settings-item">
        <div class="settings-info">
          <div class="settings-icon icon-images">
            <i class="fa fa-file"></i>
          </div>
          <div class="settings-text">
            Administrar imágenes
          </div>
        </div>

        <button
          type="button"
          (click)="router.navigate(['/profile/imageCollection'])"
          class="btn btn-outline-primary">
          Ingresar
        </button>
      </div>

      <!-- Password -->
      <div class="settings-item">
        <div class="settings-info">
          <div class="settings-icon icon-password">
            <i class="fa fa-key"></i>
          </div>
          <div class="settings-text">
            Cambiar contraseña
          </div>
        </div>

        <button
          type="button"
          (click)="openChangePassword()"
          class="btn btn-outline-success">
          Cambiar
        </button>
      </div>

    </div>

  </div>

</div>
